#sponsor-page{
    color: white;
    text-align: center;
}
.col-sm{
    margin-top: 3em;
    margin-bottom: 5em;
}
.imgHover{
    transition: 0.2s;
}
.imgHover:hover{
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}
span{
    opacity: 0;
}
p-dialog {
    background-color: #17161A;
}
