<section class="container mt-5">
    <div class="left-half" style="background-color: #ffb7b0; padding: 1rem;">
        <h1>Requiem for a noob</h1>
        <p>Association française ayant pour but la promotion d’un eSport inclusif et respectueux, et de créer un événement caritatif annuel au profit d’une cause, de personnes fragiles, ou d’autres associations.</p>
    </div>
    <div class="right-half">
        <img alt="Image de présentation de l'association" class="about-us_img" src="../../assets/img/about-us_esport.jpg">
    </div>
</section>
<section class="container">
    <div class="left-half vertical-text" style="background-color: #ffbee1; padding: 1rem">
        <p>A propos de nous</p>
    </div>
    <div class="right-half" style="background-color: #fff; flex: 4; padding: 1rem;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deseruntquisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </div>
    <div class="right-half" style="flex: 4;">
        <img alt="Image du staff" class="about-us_img" src="../../assets/img/staff1.png">
    </div>
</section>
<section class="container">
    <div class="left-half" style="flex: 4">
        <img alt="Image du staff" class="about-us_img" src="../../assets/img/staff1.png">
    </div>
    <div class="right-half" style="background-color: #7770d4; flex: 4; padding: 1rem;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deseruntquisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </div>
    <div class="right-half" style="background-color: #f66554; flex: 1;">
    </div>
</section>
