<div class="font">
    <div class="container margin-container">
        <div class="question">
            <p><span style="font-size: 20px; font-weight: bold;">UNE QUESTION ? </span><br/>N'hésitez pas à nous contacter si vous souhaitez plus d'informations concernant l'association. <br/>Nous répondrons dans les plus brefs délais.</p>
        </div>
    </div>
    <div class="nous-trouver">
        <p><span style="font-size: 20px; font-weight: bold;">COMMENT NOUS REJOINDRE ?</span></p>
        <a href="https://www.discord.com" target= "_blank">
            <fa-icon [icon]="faDiscord"></fa-icon>  
            Discord officiel de l'association   
        </a><br/>   
        <a href="" target="_blank">
            <fa-icon [icon]="faPhone"></fa-icon>
            0032/476.90.81.69
        </a><br/>
        <a href="" target="_blank">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            machin.bidule@gmail.com
        </a>
    </div>
    <div class="container form">
        <p style="margin-bottom: 2em;"><span style="font-size: 20px; font-weight: bold;">Vos coordonnées</span></p>
        <div class="row">
            <div class="p-inputgroup">
                    <div class="col-sm">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Nom</label>
                    </span>
                </div>
                <div class="col-sm">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Prénom</label>
                    </span> 
                </div>
            </div>
        </div>
    </div>
</div>
